<html>
    <body>
        {% if request.user.is_authenticated %}
          Salut, {{ request.user.first_name }} {{ request.user.last_name}}!
        {% else %}
          Neautentificat
        {% endif %}
        <br />
        {{ string | lower }}
        <br />
        {{ lista.1 }}
        <br />
        {{ lista.50 }} <!-- lista[50]-->
        <br />
        {{ dictionar }}
        <br />
        {{ dictionar.unu}} <!-- dictionar["unu"] -->
        <br />
        {{ dictionar.trei}} <!-- dictionar["trei"]-->
        <br />
        {{ dictionar.dict2.cheie }}
        <br />
        {{ functie }}
        <br />
        {{ obiect.proprietate }}
        <br />
        {{ obiect.id }}
    </body>
</html>
